//html
//    head
//        title=title
//    body
//        h1=message
//        p=info
doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,\ initial-scale=1,\ shrink-to-fit=no')
    title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css')
body
    .container
      br
      br
      br
      h2.text.text-center
        | Report for the chosen date #{chosenDate}:
      br
      br
      table.table-striped.border-success
        thead.thead-info
          tr
              th(data-field='name')
                  span.text-dark
                      | Title
              th(data-field='des')
                  span.text-dark
                      | Description
              th(data-field='cate')
                  span.text-dark
                      | Category
              th(data-field='sum')
                  span.text-dark
                      | Sum
              th(data-field='date')
                  span.text-dark
                      | Date
      br
      br
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js')
    script(type='text/javascript').
      $(document).ready(function () {
        $('table').bootstrapTable({
          data: list
        });
      });

      // Specify the JSON data to be displayed
      const list = !{JSON.stringify(info)};